.recently-updated {
	max-width: 100vw;
	padding: 1.5rem;
	color: #fff;
	background: #000;
	}

.recently-updated__title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	margin-left: 2rem;
	}

.recently-updated__list-container {
	display: flex;
	justify-content: center;
	align-items: center;
	}

.recently-updated__list {
	display: flex;
	overflow-x: auto;
	justify-content: center;
	margin-right: 5rem;
	gap: 1rem;
	}

.recently-updated__item {
	display: flex;
	align-items: center;
	gap: 1rem;
	}

.recently-updated__image {
	width: 5rem;
	height: auto;
	border-radius: 0.5rem;
	object-fit: cover;
	}

.recently-updated__info {
	font-size: 0.75rem;
	text-align: left;
	}

.recently-updated__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	font-size: 1.5rem;
	padding: 1rem;
	cursor: pointer;
	color: #000;
	border: none;
	border-radius: 50%;
	background: whitesmoke;
	}
